@{
    ViewData["Title"] = "Home - ";
}
<!--https://getbootstrap.com/docs/3.4/javascript/    --  slider input found  -->
<!--
    <div class="text-center">

        <h3 class="display-4">Welcome on the page of</h3>
        <h1 class="display-1"> ERIK</h1>
        <a href="https://www.linkedin.com/in/erikvandelft91/" target="_blank">
            <img id="ErikHomeIMG" src="~/IMG/ErikGTAUSAWhite.png" title="Get redirected to Erik's professional profile on LinkedIn." />
        </a>
    </div>
-->

<div id="HomeCarousel" class="carousel slide" data-ride="carousel" data-interval="3500">
    
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#HomeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#HomeCarousel" data-slide-to="1"></li>
        <li data-target="#HomeCarousel" data-slide-to="2"></li>
        <li data-target="#HomeCarousel" data-slide-to="3"></li>
        <li data-target="#HomeCarousel" data-slide-to="4"></li>
        <li data-target="#HomeCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/IMG/ErikWhiteUSA.png" alt="drawn me" class="ImageDesign">
        </div>
        <div class="carousel-item">
            <img src="~/IMG/ErikGTAUSA.jpg" alt="drawn me" class="ImageDesign">
        </div>
        <div class="carousel-item">
            <img src="~/IMG/C-Sharp-01.svg" alt="drawn me" class="ImageDesign">
        </div>
        <div class="carousel-item">
            <img src="~/IMG/JavaScript-01.svg" alt="drawn me" class="ImageDesign">
        </div>
        <div class="carousel-item">
            <img src="~/IMG/HTML-5-01.svg" alt="drawn me" class="ImageDesign">
        </div>
        <div class="carousel-item">
            <img src="~/IMG/CSS-3-01.svg" alt="drawn me" class="ImageDesign">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#HomeCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>

    </a>
    <a class="carousel-control-next" href="#HomeCarousel" data-slide="next">
        <span class="carousel-control-next-icon" style="color: blue;"></span>
    </a>

</div>

<h1 style="color:#1e3f5a; font: 40px OCR A Std;"> A page about me, by me.</h1>