@import "../_Variables.scss";
.row {
    margin-bottom: 15px;
}



#OpenLoginUserModal {
    border-radius: 0.25em;
    background-color: #1e3f5a;
    border-width: 0.5px;
    border: .1em solid transparent;
    color: white;
}

